* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    background-image: url("/src/images/code.png");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.content {
    text-align: center;
    padding: 2.5rem;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    position: relative;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title h1 {
    font-size: 3rem;
    color: #FFFFFF;
}

.title p {
    font-size: 1.5rem;
    color: #FFFFFF;
}

.input {
    width: 100%;
    height: 60px;
    border-radius: 8px;
    background-color: #FFF;
    border: none;
    color: #0f59b3;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-top: 1.5rem;
}

.button-list {
    display: flex;
    gap: 2em;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: #FFFFFF;
    border-radius: 8px;
    background: #0f59b3;
    padding: 16px 24px;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}